{% extends "layout.html" %}
{% block title %}Encryption key{% endblock %}
{% block content %}
{% if is_incorrect %}
<div style="color:red">
    Incorrect key, please try again.
</div>
{% endif %}
<p>
    This paste is protected with encryption.
    Please enter decryption key below to view the paste.
</p>
<form action="/paste/{{ token }}" method="POST">
    <label for="key">Key:</label>
    <input type="text" name="decryption-key" id="key"><br>
    <input type="submit" value="Next">
</form>
{% endblock %}