{% extends "layout.html" %}
{% block title %}Encryption key{% endblock %}
{% block content %}
{% if is_incorrect %}
<div class="alert alert-danger" role="alert">
    Given key was incorrect. Please try again.
</div>
{% endif %}
<p>
    This paste is protected with encryption.
    Please enter decryption key below to view the paste.
</p>
<form action="/paste/{{ token }}" method="POST">
    <div class="mb-3">
        <label for="key">Key:</label>
        <input type="text" name="decryption-key" id="key" class="form-control">
    </div>
    <input type="submit" value="Next" class="btn btn-primary">
</form>
{% endblock %}