{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
{% if status == "paste-deleted" %}
<div class="alert alert-success" role="alert">Paste deleted.</div>
{% elif status == "welcome" %}
<div class="alert alert-info" role="alert">Welcome, <b>{{ username }}</b>!</div>
{% endif %}
<h2>Latest pastes</h2>
<ul>
    {% for paste in latestPastes %}
    <li>
        <a href="/paste/{{ paste.token }}">{{ paste.title }}</a>
    </li>
    {% endfor %}
</ul>
{% if isLoggedIn %}
<h2>My pastes</h2>
<ul>
    {% for paste in myPastes %}
    <li>
        <a href="/paste/{{ paste.token }}">{{ paste.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}