{% extends "layout.html" %}
{% block title %}{{ header }}{% endblock %}
{% block custom_head %}
<style>
    #title {
        font-size: 1.2em;
        font-weight: 600;
    }
</style>
<script type="text/javascript" src="/static/paste.js"></script>
{% endblock %}
{% block content %}
<form method="POST" action="/paste">
    <input type="hidden" name="modifyToken" value="{{ modify_token }}">
    {% if is_modify %}
    <div class="mb-3">
        <label for="publicity">Publicity:</label>
        <select name="publicity" id="publicity" class="form-control" {{ fields_disabled }}>
            <option value="listed" {{ 'selected' if paste_publicity == 'listed' else '' }}>Listed on the front page</option>
            <option value="unlisted" {{ 'selected' if paste_publicity == 'unlisted' else '' }}>Anyone with link</option>
            <option value="private" {{ 'selected' if paste_publicity == 'private' else '' }}>Only for you</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="encryption-key">Encryption key:</label>
        <input type="password" id="encryption-key" name="encryption-key" class="form-control" placeholder="(optional)" value="{{ encryption_key }}" aria-describedby="encryption-help" {{ fields_disabled }}>
        <span id="encryption-help" class="form-text">If encryption key is provided, everyone is required to enter it before viewing this paste. It can not be restored if you forget it.</span>
    </div>
    {% endif %}
    <div class="mb-2">
        <input type="text" name="title" id="title" class="form-control" placeholder="Paste title" required {{ fields_disabled }} value="{{ paste_title }}"><br>
    </div>
    <div class="mb-2">
        <textarea name="content" class="form-control" rows="8" placeholder="Paste here..." required {{ fields_disabled }}>{{ paste_content }}</textarea><br>
    </div>
    {% if is_modify %}
    <div class="mb-2">
        <input type="submit" class="btn btn-primary" value="Save" {{ fields_disabled }}>
    </div>
    {% endif %}
</form>
{% if paste_delete_available %}
<form method="POST" action="/paste/delete/{{ modify_token }}" class="mb-3">
    <input type="submit" class="btn btn-danger" value="Delete">
</form>
{% endif %}
{% if voting_available %}
<div class="row mb-3">
    <div class="col-auto">
        <form method="POST" action="/vote/up/{{ chat_token }}">
            <button type="submit" class="btn btn-info">
                <i class="bi bi-hand-thumbs-up"></i>
                {{ up_votes }}
            </button>
        </form>
    </div>
    <div class="col-auto">
        <form method="POST" action="/vote/down/{{ chat_token }}">
            <button type="submit" class="btn btn-info">
                <i class="bi bi-hand-thumbs-down"></i>
                {{ down_votes }}
            </button>
        </form>
    </div>
</div>
{% elif voting_visible %}
<div class="row mb-3">
    <div class="col-auto">
        <i class="bi bi-hand-thumbs-up"></i>
        {{ up_votes }}
    </div>
    <div class="col-auto">
        <i class="bi bi-hand-thumbs-down"></i>
        {{ down_votes }}
    </div>
</div>
{% endif %}
{% endblock %}
{% block sidebar %}
{% if share_view_token and share_modify_token %}
<h2>Share</h2>
<div class="input-group mb-3">
    <span class="input-group-text">View</span>
    <input type="url" id="share-view" class="form-control" value="{{ share_view_token }}">
    <button type="button" class="btn btn-outline-secondary" onclick="copyInput('share-view')">
        <i class="bi bi-copy"></i>
    </button>
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Modify</span>
    <input type="url" id="share-modify" class="form-control" value="{{ share_modify_token }}">
    <button type="button" class="btn btn-outline-secondary" onclick="copyInput('share-modify')">
        <i class="bi bi-copy"></i>
    </button>
</div>
{% if token_regeneration_available %}
<div class="mb-3">
    <form method="POST" action="/paste/regenerate-tokens/{{ modify_token }}">
        <input type="submit" class="btn btn-warning" value="Regenerate tokens">
    </form>
</div>
{% endif %}
{% endif %}
{% if chat_token %}
<h2>Chat</h2>
{% for message in chat_messages %}
<div class="card chat-message mb-3">
    <div class="card-body">
        <p class="card-text">{{ message.content }}</p>
        <p class="card-subtitle text-body-secondary">{{ message.creator if message.creator else '<i>Anonymous</i>' | safe }}</p>
        <p class="card-text text-body-secondary">{{ message.creation_date }}</p>
        {% if chat_remove_available %}
        <form method="POST" action="/chat/delete/{{ message.id }}">
            <input type="hidden" name="token" value="{{ chat_token }}">
            <input type="submit" class="btn btn-danger" value="Remove">
        </form>
        {% endif %}
    </div>
</div>
{% endfor %}
<h3>Write new message</h3>
<form method="POST" action="/chat">
    <input type="hidden" name="token" value="{{ chat_token }}">
    <div class="mb-2">
        <textarea name="content" class="form-control" rows="3" placeholder="Message here..." required></textarea>
    </div>
    <input type="submit" value="Send" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}