{% extends "layout.html" %}
{% block title %}{{ header }}{% endblock %}
{% block customHead %}
<style>
    #title {
        font-size: 1.2em;
        font-weight: 600;
    }
    .chat-message {
        border: 1px solid black;
    }
</style>
{% endblock %}
{% block content %}
{% if share_view_token and share_modify_token %}
<p>
    <label for="share-view">View:</label>
    <input id="share-view" value="{{ share_view_token }}" disabled><br>
    <label for="share-modify">Modify:</label>
    <input id="share-modify" value="{{ share_modify_token }}" disabled>
    <form method="POST" action="/paste/regenerate-tokens/{{ modifyToken }}">
        <input type="submit" value="Regenerate tokens">
    </form>
</p>
{% endif %}
<form method="POST" action="/paste">
    <input type="hidden" name="modifyToken" value="{{ modifyToken }}">
    <div class="mb-3">
        <label for="publicity">Publicity:</label>
        <select name="publicity" id="publicity" class="form-control" {{ fieldsDisabled }}>
            <option value="listed" {{ 'selected' if pastePublicity == 'listed' else '' }}>Listed on the front page</option>
            <option value="unlisted" {{ 'selected' if pastePublicity == 'unlisted' else '' }}>Anyone with link</option>
            <option value="private" {{ 'selected' if pastePublicity == 'private' else '' }}>Only for you</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="encryption-key">Encryption key:</label>
        <input type="password" id="encryption-key" name="encryption-key" class="form-control" placeholder="(optional)" value="{{ encryption_key }}" aria-describedby="encryption-help" {{ fieldsDisabled }}>
        <span id="encryption-help" class="form-text">If encryption key is provided, everyone is required to enter it before viewing this paste. It can not be restored if you forget it.</span>
    </div>
    <div class="mb-2">
        <input type="text" name="title" id="title" class="form-control" placeholder="Paste title" minlength="1" {{ fieldsDisabled }} value="{{ pasteTitle }}"><br>
    </div>
    <div class="mb-2">
        <textarea name="content" class="form-control" rows="8" placeholder="Paste here..." {{ fieldsDisabled }}>{{ pasteContent }}</textarea><br>
    </div>
    <div class="mb-2">
        <input type="submit" class="btn btn-primary" value="Save" {{ fieldsDisabled }}>
    </div>
</form>
{% if pasteDeleteAvailable %}
<p>
    <form method="POST" action="/paste/delete/{{ modifyToken }}">
        <input type="submit" value="Delete paste" style="color: red">
    </form>
</p>
{% endif %}
{% if votingAvailable %}
<h2>Vote</h2>
<p>{{ upVotes }} &#9650; / {{ downVotes }} &#9660;</p>
<form method="POST" action="/vote/up/{{ chatToken }}">
    <input type="submit" value="Vote up" {{ voteDisabled }}>
</form>
<form method="POST" action="/vote/down/{{ chatToken }}">
    <input type="submit" value="Vote down" {{ voteDisabled }}>
</form>
{% endif %}
{% endblock %}
{% block sidebar %}
{% if chatToken %}
<h2>Chat</h2>
{% for message in chatMessages %}
<div class="chat-message">
    <p>{{ message.content }}</p>
    <span>{{ message.creator if message.creator else '<i>Anonymous</i>' | safe }}</span>
    <span>{{ message.creation_date }}</span>
    {% if chatRemoveAvailable %}
    <br>
    <form method="POST" action="/chat/delete/{{ message.id }}">
        <input type="hidden" name="token" value="{{ chatToken }}">
        <input type="submit" value="Remove">
    </form>
    {% endif %}
</div>
{% endfor %}
<form method="POST" action="/chat">
    <input type="hidden" name="token" value="{{ chatToken }}">
    <textarea name="content" rows="3" cols="30" placeholder="Message here..." minlength="1"></textarea><br>
    <input type="submit" value="Send">
</form>
{% endif %}
{% endblock %}