{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<p><a href="/log-in">Already have an account? Log in here.</a></p>
<form action="/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password1">Password:</label>
    <input type="password" name="password1" id="password1"><br>
    <label for="password2">Confirm password:</label>
    <input type="password" name="password2" id="password2"><br>
    <input type="submit" value="Sign up">
</form>
{% endblock %}